<h1>Update Observation</h1>

<p>Contributor: <%=@animal.user.name %></p>
<p>Species: <%= @animal.species %></p>
<p>Animal Type: <%= @animal.animal_type %></p>
<p>Quantity Observed: <%= @animal.quantity_observed %></p>
<p>Habitat: <%= @animal.habitat %></p>
<p>Season: <%= @animal.season %></p>
<p>Time of Day: <%= @animal.time_of_day %></p>

<div class="form-style">
<form action="/animal/<%= @animal.id %>/edit">
  <label><input type="submit" value="Edit Observation"/></label>
</form>
</div>

<div class="form-style">
<form method="post" action="/animal/<%= @animal.id %>/delete">
  <label><input type="submit" value="Delete Observation"/></label>
</form>
</div>
