<p>Contributor: <%=@animal.user.name %></p>
<p>Species: <%= @animal.species %></p>
<p>Animal Type: <%= @animal.animal_type %></p>
<p>Quantity Observed: <%= @animal.quantity_observed %></p>
<p>Habitat: <%= @animal.habitat %></p>
<p>Season: <%= @animal.season %></p>
<p>Time of Day: <%= @animal.time_of_day %></p>


<p><a href="/animal/<%= @animal.id %>/edit">Edit Observation</a></p>
<form method="post" action="/animal/<%= @animal.id %>/delete">
  <input type="submit" value="Delete Observation"/>
</form>
