<p>Location: <%= @habitat.location %></p>
<p>Season: <%= @habitat.season %></p>
<p>Time of Day: <%= @habitat.time_of_day %></p>
<p><a href="/habitat<%= @habitat.id %>/edit">Edit Habitat</a></p>
<form method="post" action="/habitat<%= @habitat.id %>/delete">
  <input type="submit" value="Delete Habitat"/>
</form>
